@model IEnumerable<ColmanWebProject.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<main class="form-signin">
    <div class="row justify-content-center">
        <div class="card col-9 pb-5 mt-4 p-3 bg-white shadow-lg">
            <h1 class="h3 mb-3 fw-normal text-center">Orders</h1>
            <table class="table center">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ShippingAddressCity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ShippingAddressStreet)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ShippingAddressHomeNum)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Customer)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShippingAddressCity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShippingAddressStreet)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShippingAddressHomeNum)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Customer.Email)
                            </td>
                            <td>
                                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>