@model IEnumerable<ColmanWebProject.Models.Order>

@{
    ViewData["Title"] = "OrdersList";
    Layout = null;
}

<div class="table-responsive">
    <table class="table table-hover center">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShippingAddressCity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShippingAddressStreet)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShippingAddressHomeNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShippingAddressCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShippingAddressStreet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShippingAddressHomeNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.Name) @Html.DisplayFor(modelItem => item.Customer.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.Email)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (ViewBag.Error != null)
{
    <div class="text-danger">@ViewBag.Error</div>
}


