@model IEnumerable<ColmanWebProject.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<div>
    <div class="row justify-content-center ">
        <div class="col-8 mt-2">
            <img class="rounded" src="https://img.d.co.il/Umbraco/2175/795x348.f68228e6-68c0-4642-87b3-6c0cf12cedb5.png" />
        </div>
    </div>

        <h1 class="logo">LOGO</h1>

        <div class="card-deck">
            @foreach (var item in Model)
            {
                <a asp-controller="Products" asp-action="Index"
                   asp-route-Catagory="@item.Type" asp-route-SubCatagory="@item.SubType">
                    <div class="card bg-dark text-white" style="max-width: 18rem;">
                        <img class="card-img"
                             src="@item.Image"
                             height="272"
                             alt="@item.Type"
                             width="400">
                        <div class="card-img-overlay">
                            <h5 class="card-title">@item.Type</h5>
                        </div>
                    </div>
                </a>
            }
        </div>

        <div class="moreInfo">
            <pre class="text">
           Hi!
            You are more than welcome to watch our special new instruments.
            Enjoy the unique and quality playing experience.
            Come visit our <a href="https://docs.microsoft.com/aspnet/core">stores</a>
        </pre>
            <aside>
                <div class="video">
                    <video width="560" height="315" autoplay loop muted controls>
                        <source src="../pic/video.mp4"
                                type="video/mp4" />
                    </video>
                </div>
            </aside>
        </div>
    </div>
