@model IEnumerable<ColmanWebProject.Models.Product>
<div id="searchSide">
    @Html.Partial("Search", Model)
</div>
    <div class="row px-5 pt-5">

        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6 mt-4 mt-sm-0 card-container mb-3">
                <div class="card text-center product p-4 pt-5 border-0 h-100 rounded-0">
                    @if (item.Image != null)
                    {
                        string img = Convert.ToBase64String(item.Image);
                        <img class="img-fluid d-block mx-auto" src="data:image/png;base64,@img"  style="width:200px; height:200px;" alt="@Html.DisplayFor(modelItem => item.Name)">
                    }
                <div class="card-body p-4 py-0 h-xs-440p">
                    <span class="card-title mb-3 w-xl-220p mx-auto" style="font-weight:bold;">@Html.DisplayFor(modelItem => item.Name)</span>
                    <div class="card-title mb-3 w-xl-220p mx-auto">@Html.DisplayFor(modelItem => item.Price)</div>

                </div>
                    <div class="col-12">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark btn-block">Show more details</a>
                    </div>
                    <div class="mt-3">
                        @if (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0)
                        {
                            var identity = (System.Security.Claims.ClaimsIdentity)Context.User.Identity;
                            string cartId = identity.Claims.ElementAt(2).Value;
                            string wishListId = identity.Claims.ElementAt(3).Value;
                            <a asp-controller="Carts" asp-action="AddToCart" asp-route-ProductId="@item.Id" asp-route-CartId="@cartId" type="button" class="btn btn-outline-info btn-circle">
                                <i class="fa fa-cart-plus fa-xl"></i>
                            </a>
                            <a asp-controller="WishLists" asp-action="AddToWishList" asp-route-ProductId="@item.Id" asp-route-WishListId="@wishListId" type="button" class="btn btn-outline-info btn-circle">
                                <i class="fa fa-heart fa-xl"></i>
                            </a>
                        }

                        @if (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0 && Context.User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-outline-info btn-circle">
                                <i class="fa fa-pencil fa-xl"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-outline-info btn-circle">
                                <i class="fa fa-trash fa-xl"></i>
                            </a>
                        }
                    </div>

                </div>
            </div>
        }
    </div>
