@model IEnumerable<ColmanWebProject.Models.ProductsCart>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row w-100">
        <div class="col-lg-12 col-md-12 col-12">
            <h3 class="display-5 mb-2 text-center title">Shopping Cart</h3>
            <p class="text-center">
                <i class="text-info font-weight-bold">@Model.ToList().Sum(item => item.Quantity)</i> items in your cart
            </p>
            <table id="shoppingCart" class="table table-condensed table-responsive">
                <thead>
                    <tr>
                        <th class="productTitle">Product</th>
                        <th class="priceTitle">Quentity</th>
                        <th class="priceTitle">Price</th>
                        <th class="removeTitle text-right">Remove</th>
                        <th class="removeTitle text-right">Item's status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-md-3 text-left">
                                        @if (item.Product.Image != null)
                                        {
                                            string img = Convert.ToBase64String(item.Product.Image);
                                            <img src="data:image/png;base64,@img" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                        }
                                    </div>
                                    <div class="col-md-9 text-left">
                                        <h4>
                                            @Html.DisplayFor(modelItem => item.Product.Name)
                                        </h4>
                                        <p class="font-weight-light">@Html.DisplayFor(modelItem => item.Product.Description)</p>
                                    </div>
                                </div>
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                            @{
                                var totalPrice = item.Product.Price * item.Quantity;
                            }
                            <td>$@totalPrice</td>
                            <td class="actions">
                                <div class="text-right d-inline">
                                    <a class="btn btn-white border-secondary bg-white btn-md mb-2" asp-action="Delete"
                                       asp-route-CartId="@item.CartId" asp-route-productId="@item.ProductId">
                                        <i class='bx bxs-trash'></i>
                                    </a>
                                </div>
                            </td>
                            <td>
                                @if (item.Quantity > item.Product.Stock)
                                {

                                    <div class="text-danger">Not enough items in stock...</div>

                                }
                                else
                                {
                                    <div class="text-success">All good!</div>
                                }
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
            <div class="float-right text-right">
                <h4>Subtotal:</h4>
                <h1>$@Model.ToList().Sum(item => (item.Product.Price * item.Quantity))</h1>
            </div>
        </div>
    </div>
    <div class="row mt-4 d-flex align-items-center">
        <div class="col-sm-6 order-md-2 text-right">
            <a href="/Carts" class="btn btn-primary mb-4 btn-lg pl-5 pr-5 checkout">Checkout</a>
        </div>
        <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
            <a href="/">
                <i class="fas fa-arrow-left mr-2"></i> Continue Shopping
            </a>
        </div>
    </div>
</div>


@*  *@
@*<input type='text' id='gp_amount' size='4' />

<select id="gp_from"></select> geoplugin_currencyCode() to <select id="gp_to"></select>
<p><input type='button' onClick='gp_convertIt()' value='Convert It' /></p>
<div id="gp_converted"></div>*@

@section Scripts{ 
<script src="~/js/Currency.js" ></script>
}
@*<script type="text/javascript">
    $(document).ready(function () {
        // set endpoint and your API key
        endpoint = 'convert';
        access_key = '79041e949cdc7f5b1028a11b6648299c';

        // define from currency, to currency, and amount
        from = 'EUR';
        to = 'GBP';
        amount = '10';

        // execute the conversion using the "convert" endpoint:
        $.ajax({
            url: 'https://api.exchangeratesapi.io/v1/' + endpoint + '?access_key=' + access_key + '&from=' + from + '&to=' + to + '&amount=' + amount,
            dataType: 'jsonp',
            success: function (json) {

                // access the conversion result in json.result
                alert(json.result);

            }
        });
    })
</script>*@
